# WORKING WITH COMMA SEPERATRED VALUE FILES, EXCEL FILE AND TEXT FILE.

In [23]:
import pandas as pd

In [24]:
# Read the Microsoft comma seperated value file (csv)
poke = pd.read_csv('pokemon_data.csv')

In [25]:
poke

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [26]:
poke.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [27]:
# How to Read Microsft Excel File
poke = pd.read_excel('pokemon_data.xlsx')
poke.head(9)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False

In [28]:
# How to Read Text file on anaconda
pokeme = pd.read_csv('pokemon_data.txt')
pokeme.head()

  #\tName\tType 1\tType 2\tHP\tAttack\tDefense\tSp. Atk\tSp. Def\tSpeed\tGeneration\tLegendary
0  1\tBulbasaur\tGrass\tPoison\t45\t49\t49\t65\t6...
1  2\tIvysaur\tGrass\tPoison\t60\t62\t63\t80\t80\...
2  3\tVenusaur\tGrass\tPoison\t80\t82\t83\t100\t1...
3  3\tVenusaurMega Venusaur\tGrass\tPoison\t80\t1...
4  4\tCharmander\tFire\t\t39\t52\t43\t60\t50\t65\...

In [29]:
# to bring out text inform of table
pokeme = pd.read_csv('pokemon_data.txt', sep='/t')
pokeme.head()

C:\Users\HP\AppData\Local\Temp\ipykernel_4960\2333259216.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  pokeme = pd.read_csv('pokemon_data.txt', sep='/t')

  #\tName\tType 1\tType 2\tHP\tAttack\tDefense\tSp. Atk\tSp. Def\tSpeed\tGeneration\tLegendary
0  1\tBulbasaur\tGrass\tPoison\t45\t49\t49\t65\t6...
1  2\tIvysaur\tGrass\tPoison\t60\t62\t63\t80\t80\...
2  3\tVenusaur\tGrass\tPoison\t80\t82\t83\t100\t1...
3  3\tVenusaurMega Venusaur\tGrass\tPoison\t80\t1...
4  4\tCharmander\tFire\t\t39\t52\t43\t60\t50\t65\...

# READING DATA IN PADAS

In [30]:
# READ THE COLUMN
poke.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [31]:
# read each column
poke[['Name', 'Type 1', 'HP']]

                      Name   Type 1  HP
0                Bulbasaur    Grass  45
1                  Ivysaur    Grass  60
2                 Venusaur    Grass  80
3    VenusaurMega Venusaur    Grass  80
4               Charmander     Fire  39
..                     ...      ...  ..
795                Diancie     Rock  50
796    DiancieMega Diancie     Rock  50
797    HoopaHoopa Confined  Psychic  80
798     HoopaHoopa Unbound  Psychic  80
799              Volcanion     Fire  80

[800 rows x 3 columns]

In [32]:
# Read Row
poke = poke.iloc[0:]

In [33]:
# Read each Row
poke = poke.iloc[1:5]
poke

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

# making changes to the existing data

In [34]:
# How to Read Microsft Excel File
poke = pd.read_excel('pokemon_data.xlsx')
poke.head(9)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False

In [35]:
# creating the total and append it to the data
poke['Total'] = poke['HP'] + poke['Attack'] + poke['Defense'] + poke['Sp. Atk'] + poke['Sp. Def'] + poke['Speed'] + poke['Generation']
poke

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,319
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,406
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,526
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,626
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,310
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,606
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,706
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,606
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,686
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,606

In [36]:
poke

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,319
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,406
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,526
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,626
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,310
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,606
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,706
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,606
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,686
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,606

In [37]:
# to delete one column from dataframe
poke = poke.drop(columns=['Total'])

In [38]:
poke

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [39]:
#to drop one column from dataframe
poke = poke.drop(columns=['Name'])

In [40]:
poke

,#,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Grass,Poison,80,82,83,100,100,80,1,False
3,3,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
795,719,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Fire,Water,80,110,120,130,90,70,6,True

In [21]:
# delete 2 or more columns from the dataframe
poke = poke.drop(columns=['Defense', 'HP', 'Speed'])

In [73]:
poke

       #   Type 1  Type 2  Attack  Sp. Atk  Sp. Def  Generation  Legendary
0      1    Grass  Poison      49       65       65           1      False
1      2    Grass  Poison      62       80       80           1      False
2      3    Grass  Poison      82      100      100           1      False
3      3    Grass  Poison     100      122      120           1      False
4      4     Fire     NaN      52       60       50           1      False
..   ...      ...     ...     ...      ...      ...         ...        ...
795  719     Rock   Fairy     100      100      150           6       True
796  719     Rock   Fairy     160      160      110           6       True
797  720  Psychic   Ghost     110      150      130           6       True
798  720  Psychic    Dark     160      170      130           6       True
799  721     Fire   Water     110      130       90           6       True

[800 rows x 8 columns]

In [74]:
poke = pd.read_csv('pokemon_data.csv')

In [75]:
poke

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

# FILTERING DATA

In [76]:
# THIS IS THE WAY OF SEPERATING SUB-DATAS FROM DATAFRAME.
newpoke = poke.loc[(poke['Type 1']=='Grass') & (poke['Type 2'] == 'Poison') & (poke['HP']> 70)]

In [77]:
newpoke

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
50,45,Vileplume,Grass,Poison,75,80,85,110,90,50,1,False
77,71,Victreebel,Grass,Poison,80,105,65,100,70,70,1,False
652,591,Amoonguss,Grass,Poison,114,85,70,85,80,30,5,False

In [80]:
# THIS IS THE WAY OF SEPERATING SUB-DATAS FROM DATAFRAME AND CONVERT IT INTO ANOTHER CSV FILE.
# It will show automatically on desktop/python/pandas files. 
newpoke.to_csv('convertingpoke.csv')

In [41]:
# THIS IS THE WAY OF SEPERATING SUB-DATAS FROM DATAFRAME.
newpoke = poke.loc[(poke['Type 1']=='Grass') & (poke['Type 2'] == 'Poison') & (poke['HP']> 70)]

In [42]:
newpoke

,#,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
2,3,Grass,Poison,80,82,83,100,100,80,1,False
3,3,Grass,Poison,80,100,123,122,120,80,1,False
50,45,Grass,Poison,75,80,85,110,90,50,1,False
77,71,Grass,Poison,80,105,65,100,70,70,1,False
652,591,Grass,Poison,114,85,70,85,80,30,5,False

In [101]:
# THIS IS THE WAY OF SEPERATING SUB-DATAS FROM DATAFRAME.
newpoke = poke.loc[(poke['Type 1']=='Rock') & (poke['Type 2'] == 'Fairy') & (poke['HP'] == 50)]

In [102]:
newpoke

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
773,703,Carbink,Rock,Fairy,50,50,150,50,150,50,6,False
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True