In [37]:
# import pandas
import pandas as pd

In [38]:
# Optional: use the pd.set_option() to display all rows in a dataframe by default

# Create a DataFrame

In [39]:
# read the "bestsellers with categories" csv file (Dataset on Amazon's Top 50 bestselling books from 2009 to 2019.)

In [40]:
amazon = pd.read_csv('bestsellers with categories.csv')
amazon

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [41]:
# find the data types of each column
amazon.dtypes

Name            object
Author          object
User Rating    float64
Reviews          int64
Price            int64
Year             int64
Genre           object
dtype: object

# Display a DataFrame

In [42]:
# show first 5 rows in a dataframe
amazon.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [43]:
# describe basic statistics of the dataframe (mean, std, min, max)
amazon.describe()

       User Rating       Reviews       Price         Year
count   550.000000    550.000000  550.000000   550.000000
mean      4.618364  11953.281818   13.100000  2014.000000
std       0.226980  11731.132017   10.842262     3.165156
min       3.300000     37.000000    0.000000  2009.000000
25%       4.500000   4058.000000    7.000000  2011.000000
50%       4.700000   8580.000000   11.000000  2014.000000
75%       4.800000  17253.250000   16.000000  2017.000000
max       4.900000  87841.000000  105.000000  2019.000000

# Add a new Column with an array

In [44]:
# Your task is to create a column named 'Critic Rating' that should have random integer numbers betweenâ€‹# Your task is to create a column named 'Critic Rating' that should have random integer numbers between 1 and 4 1 and 4

# 1. import numpy and create 550 random integer numbers between 1 and 4

# 2. add new 'Critic Rating' column to dataframe using the random numbers created


# Note the random numbers in this new 'Critic Rating' column will be different between your solution and mine, but we'll focus only on the code, in this section.

In [45]:
# Your task is to create a column named 'Critic Rating' that should have random integer numbers between 1 and 4
# 1. import numpy and create 550 random integer numbers between 1 and 4
# 2. add new 'Critic Rating' column to dataframe using the random numbers created
# Note the random numbers in this new 'Critic Rating' column will be different between your solution and mine, but we'll focus only on the code, in this section
import numpy as np
intamazon = np.random.randint(1, 4, 550)
amazon['critical rating'] = intamazon
amazon

,Name,Author,User Rating,Reviews,Price,Year,Genre,critical rating
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,3
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,1
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,1
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,3
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,3
...,...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction,3
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction,2
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction,3
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction,1
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction,2

In [14]:
# create an array of 550 elements
Critical_rating= np.arange(0, 550)
Critical_rating

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272,
       273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285,
       286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298,
       299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311,
       312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324,
       325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337,
       338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350,
       351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363,
       364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376,
       377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389,
       390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402,
       403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415,
       416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428,
       429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441,
       442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454,
       455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467,
       468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480,
       481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493,
       494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506,
       507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519,
       520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532,
       533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545,
       546, 547, 548, 549])

# Basic Attributes, Methods and Functions

In [46]:
# get access to the columns attribute
# first attributes means shape. e.g
amazon.columns

Index(['Name', 'Author', 'User Rating', 'Reviews', 'Price', 'Year', 'Genre',
       'critical rating'],
      dtype='object')

In [17]:
# second attributes means index
amazon.index

RangeIndex(start=0, stop=550, step=1)

In [18]:
# third attributes means column
amazon.columns

Index(['Name', 'Author', 'User Rating', 'Reviews', 'Price', 'Year', 'Genre',
       'critical rating', 'Critical Rating'],
      dtype='object')

In [19]:
# fouth attributes means data types of each column
amazon.dtypes

Name                object
Author              object
User Rating        float64
Reviews              int64
Price                int64
Year                 int64
Genre               object
critical rating      int64
Critical Rating      int32
dtype: object

# Selecting Two or More Columns from a Dataframe

In [49]:
# move the new 'Critic Rating' column between the columns "User Rating" and "Reviews" Then update the dataframe

# Tip: Copy and paste the column names obtained with the columns attribute and then rearrange elements using [[]]
amazon = amazon[['Name', 'Author', 'User Rating', 'critical rating', 'Reviews', 'Price', 'Year', 'Genre']]
amazon

,Name,Author,User Rating,critical rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,3,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,1,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,1,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,3,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,3,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,3,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,2,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,3,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,1,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,2,14331,8,2019,Non Fiction

# Operations on Dataframes

In [50]:
# create a column named "Average Rating" by using the following formula: Average Rating = (User Rating + Critic Rating)/2
# calculate the average and show it in the frame
amazon['average'] = (amazon['User Rating'] + amazon['Reviews'])/2
amazon

,Name,Author,User Rating,critical rating,Reviews,Price,Year,Genre,average
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,3,17350,8,2016,Non Fiction,8677.35
1,11/22/63: A Novel,Stephen King,4.6,1,2052,22,2011,Fiction,1028.30
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,1,18979,15,2018,Non Fiction,9491.85
3,1984 (Signet Classics),George Orwell,4.7,3,21424,6,2017,Fiction,10714.35
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,3,7665,12,2019,Non Fiction,3834.90
...,...,...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,3,9413,8,2019,Fiction,4708.95
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,2,14331,8,2016,Non Fiction,7167.85
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,3,14331,8,2017,Non Fiction,7167.85
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,1,14331,8,2018,Non Fiction,7167.85
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,2,14331,8,2019,Non Fiction,7167.85

In [53]:
# use the round function to round the values of the dataframe to 1 decimal and update the dataframe

amazon = round(amazon,1)
amazon

,Name,Author,User Rating,critical rating,Reviews,Price,Year,Genre,average
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,3,17350,8,2016,Non Fiction,8677.4
1,11/22/63: A Novel,Stephen King,4.6,1,2052,22,2011,Fiction,1028.3
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,1,18979,15,2018,Non Fiction,9491.8
3,1984 (Signet Classics),George Orwell,4.7,3,21424,6,2017,Fiction,10714.4
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,3,7665,12,2019,Non Fiction,3834.9
...,...,...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,3,9413,8,2019,Fiction,4709.0
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,2,14331,8,2016,Non Fiction,7167.8
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,3,14331,8,2017,Non Fiction,7167.8
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,1,14331,8,2018,Non Fiction,7167.8
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,2,14331,8,2019,Non Fiction,7167.8

# Value Counts

In [25]:
# count elements in "Genre" column by category and return the relative frequency 
# DETERMINE THE COUNT
amazon['Genre'].count()

550

In [26]:
# determine the value
amazon['Genre'].value_counts()

Non Fiction    310
Fiction        240
Name: Genre, dtype: int64

In [27]:
# detremine the relative frequency
amazon['Genre'].value_counts(normalize=True)

Non Fiction    0.563636
Fiction        0.436364
Name: Genre, dtype: float64

# Rename Columns

In [58]:
# rename columns "User Rating, critical rating and Average Rating as 'UR', 'CR', 'AR' then update the dataframe with the inplace parameter.
# how to rename colunm on dataframe.
amazon.rename(columns = {'User Rating': 'UR', 'critical rating': 'CR', 'average': 'AR' }, inplace = True)
amazon

,Name,Author,UR,CR,Reviews,Price,Year,Genre,AR
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,3,17350,8,2016,Non Fiction,8677.4
1,11/22/63: A Novel,Stephen King,4.6,1,2052,22,2011,Fiction,1028.3
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,1,18979,15,2018,Non Fiction,9491.8
3,1984 (Signet Classics),George Orwell,4.7,3,21424,6,2017,Fiction,10714.4
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,3,7665,12,2019,Non Fiction,3834.9
...,...,...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,3,9413,8,2019,Fiction,4709.0
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,2,14331,8,2016,Non Fiction,7167.8
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,3,14331,8,2017,Non Fiction,7167.8
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,1,14331,8,2018,Non Fiction,7167.8
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,2,14331,8,2019,Non Fiction,7167.8

In [60]:
# select only "Name", "Author", "UR", "CR", "AR" and "Year" columns and update dataframe
amazon[['Name', 'Author', 'UR', 'CR', 'Year']]

,Name,Author,UR,CR,Year
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,3,2016
1,11/22/63: A Novel,Stephen King,4.6,1,2011
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,1,2018
3,1984 (Signet Classics),George Orwell,4.7,3,2017
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,3,2019
...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,3,2019
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,2,2016
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,3,2017
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,1,2018
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,2,2019

# Sort a dataframe

In [64]:
# sort the dataframe descending by "UR" and "CR"
# sort multiple columns in descending order
amazon.sort_values(['UR'], ascending=False)
amazon.sort_values(['CR'], ascending=False)

,Name,Author,UR,CR,Reviews,Price,Year,Genre,AR
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,3,17350,8,2016,Non Fiction,8677.4
144,Goodnight Moon,Margaret Wise Brown,4.8,3,8837,5,2018,Fiction,4420.9
268,PokÃ©mon Deluxe Essential Handbook: The Need-to...,Scholastic,4.7,3,3503,9,2016,Fiction,1753.8
264,Percy Jackson and the Olympians Paperback Boxe...,Rick Riordan,4.8,3,548,2,2010,Fiction,276.4
260,Outliers: The Story of Success,Malcolm Gladwell,4.6,3,10426,20,2009,Non Fiction,5215.3
...,...,...,...,...,...,...,...,...,...
334,The 7 Habits of Highly Effective People: Power...,Stephen R. Covey,4.6,1,9325,24,2013,Non Fiction,4664.8
72,Diary of a Wimpy Kid: The Last Straw (Book 3),Jeff Kinney,4.8,1,3837,15,2009,Fiction,1920.9
71,"Diary of a Wimpy Kid: Hard Luck, Book 8",Jeff Kinney,4.8,1,6812,0,2013,Fiction,3408.4
338,The Alchemist,Paulo Coelho,4.7,1,35799,39,2014,Fiction,17901.8
347,The Book Thief,Markus Zusak,4.6,1,23148,6,2013,Fiction,11576.3